fastapi
uvicorn
python-multipart
langchain
langchain-google-genai
langchain-chroma
langchain-huggingface
sentence-transformers
python-dotenv
tenacity
google-generativeai
pypdf
streamlit
unstructured[pdf]
